*{
margin:0;
padding: 0;
}
body{
margin: 0;
padding: 0;
}
.logo{
margin-left: 3rem;
width: 60px;
height: 60px;
border-radius: 50%;
}
nav{
width: 100%;
height: 10dvh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color:gray;
color:black;
position: sticky;
top: 0;
}
.nav-div1{
display: flex;
flex-direction: row;
align-items: center;
gap: 3rem;
list-style: none;
}
.a{
list-style: none;
color: black;
text-decoration: none;
}
a:hover{
color:royalblue;
}
button{
width: 70px;
height: 30px;
}
.dropdown{
display: flex;
flex-direction: row;
gap: 2rem;
margin-right: 3rem;
}
.dropdown-1{
display: block;
}
.dropdown-1 a{
display: block;
color: black;
text-decoration: none;
padding: 10px 15px;
}
.dropdown-1 .content-1{
    display: none;
position: absolute;
background-color: hsl(0, 0%, 95%);
min-width: 100px;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown-1:hover .content-1{
display:block;
}
.dropdown-1:hover button{
background-color: hsl(0, 0%, 70%);
}
.dropdown-1 a:hover{
background-color: hsl(0, 0%, 70%);
}

.dropdown-2{
display: block;
}
.dropdown-2 a{
display: block;
color: black;
text-decoration: none;
padding: 10px 15px;
}
.dropdown-2 .content-2{
    display: none;
position: absolute;
background-color: hsl(0, 0%, 95%);
min-width: 100px;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown-2:hover .content-2{
display:block;
}
.dropdown-2:hover button{
background-color: hsl(0, 0%, 70%);
}
.dropdown-2 a:hover{
background-color: hsl(0, 0%, 70%);
}
.btn-1{
background-color:yellow;
border: none;
color: black;
border-radius: 5px;
margin-bottom: 1rem;
}
.btn-2{
background-color:brown;
border: none;
border-radius: 5px;
margin-bottom: 1rem;

}
.hero-section{
background-image:url(images/background-img.jpg) ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 40dvh;
}
.section1-div1{
width: 100%;    
height: 20dvh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 2rem;
color: white;
font-weight: bold;
}
.section-2{
width: 100%;
height: 100dvh;
display: flex;  
flex-direction: column;
align-items: center;
justify-content:center;
gap: 2rem;
}

.section2-div2{
width: 80%;
height: 80dvh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 2rem;
margin-left: 2rem;
}
.food-img{
width: 250px;
height: 200px;
}
.section2-card{
box-shadow: 2px 2px 4px 4px brown;

}
.section2-div2{
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-between ;
gap: 4rem;
margin-left: 2rem;
}
.text{
width: 100%;
height: 30dvh;
background-color: whitesmoke;
border: none;
border-radius: 5px;
}
ul{
margin-left: 4rem;
}
button{
width: 70px;
height: 30px;
background-color:brown;
color: white;
border: none;
margin-top: 2rem;
margin-left: 1rem;
border-radius: 5px;
margin-bottom: 3rem;

}
button:hover{
background-color:yellow;
cursor: pointer;
color: black;
}
.section3{
background-image: url(images/cta.png);
background-position: center;
background-repeat: no-repeat;
height: 40dvh;
width: 100%;
}
.section3-div{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 2rem;
color:grey;
}
h1{
margin-top: 2rem;
}
.btn-3{
width: 90px;
height: 30px;
background-color: black;
color: white;
}
.image{
width: 90%;
height: 40dvh;
}
.link{
color: blue;
}
.section-achu{
margin-bottom: 2rem;
gap: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.h2 {
color: blueviolet;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
h2{
margin-top: 3rem;
}
.section-flex{
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 2rem;
gap: 6rem;
}
.section-fufu{
margin-top: 2rem;
gap: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

}
.section-eru{
justify-content: space-between;
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.images{
width: 350px;
height: 350px;
border-radius: 50%;
margin-top: 2rem;
}
.section-ndole{
justify-content: space-between;
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-ekwang{
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-koki{
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-beans{
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-bonga{
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-kokicorn{
    margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.section-coco{
    margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 2px 2px 5px hsla(0, 15%, 59%, 0.8);
}
.recipe-div{
width: 25%;
height: 60dvh;
background-color:rgb(124, 124, 253);
border-radius: 15px;
margin-bottom: 3rem;
padding: 2rem;

}
h3{
margin-top: 1rem;
}
.Preparation{
width: 35%;
height: 65dvh;
background-color:pink;
border-radius: 20px;
margin-bottom: 3rem;
padding: 1rem;
}
.about-section1{
width: 70%;
height: 70dvh;
border-radius: 20px;
display: flex;
flex-direction: row;  
gap: 0;
}
.universal{
display: flex;
flex-direction: column;
gap: 2rem;
background-color:#e8f9fd;
} 
.about-div1{
    margin-top: 16rem;
width: 50%;
height: 30dvh;
box-sizing: content-box;
background-color: white;
border-radius: 15px;
margin-bottom: 2rem;
} 
.about-div2{
margin-top: 22rem;
width: 50%;
height: 30dvh;
background-color:white;
border-radius: 15px;
margin-bottom: 2rem;
}
.about-div3{
width: 50%;
height: 50dvh;
margin-top: 22rem;
width: 50%;
height: 30dvh;
background-color: white;
border-radius: 15px;
margin-bottom: 2rem;
}

.about-section2{
width: 70%;
height: 70dvh;
margin-top: 1rem;
margin-left: 23rem;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;   
justify-content: center;
gap: 4rem;
}
.about-section3{
width: 70%;
height: 70dvh;
margin-top: 1rem;
margin-right: 23rem;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;   
justify-content: center;
gap: 4rem;
}
.about-section4{
width: 70%;
height: 80dvh;
margin-top: 1rem;
margin-left: 23rem;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;   
justify-content: center;
gap: 4rem;
}
.about-div4{
width: 50%;
height: 30dvh;
margin-top: 20rem;
background-color: white;
border-radius: 15px;
margin-bottom: 2rem;
}

.topic{
font-size: 32px;
font-weight: 500;
color: #ba24c2;
margin-top: 4rem;
margin-left: 15rem;
}
form{
width: 60%;
height: 80dvh;
margin-right: 30px;
margin-left: 15rem;
margin-top: 4rem;
margin-bottom: 4rem;
}
.input-box{
height: 50px;
width: 100%;
margin: 16px 0;
position: relative;
}
.input-box input{
position:absolute;
height: 100%;
width: 100%;
border-radius: 6px;
outline: none;
border: 2px solid transparent;
background-color:#fae9fb ;
font-size: 16px;
padding-left: 16px;
}
.input-box label{
position: absolute;
left: 18px;
top: 50%;
color: #636c27;
transform: translateY(-50);
pointer-events: none;
transition: all 0.3s ease;
}
.input-box input:focus ~ label , .input-box input:valid{
top: 0;
left: 12px;
color: #ba24c2;
background-color: #fff;
transition: all 0.3s ease;
}
.input-box input:focus , .input-box input:valid{
border-color: #ba24c2;
background-color: #fff;
}
.message-box{
min-height: 100px;
position: relative;
}
.message-box textarea{
position: absolute;
width: 100%;
height: 100%;
border-radius: 6px;
outline: none;
resize: none;
background-color:#fae9fb;
border: 2px solid transparent;
}
.message-box label{
position: absolute;
font-size: 16px;
left: 18px;
top: 6px;
pointer-events: none;
transition: all 0.3s ease;
}
.message-box textarea:focus ~ label{
left: 12px;
color: #ba24c2;
border-color:#ba24c2 ;
top:-10px ;
}
.message-box textarea:focus{
border-color: #ba24c2;
background-color: white;
font-size: 14px;
}
.input-box input[type="submit"]{
color: #fff;
background-color: #ba24c2;
cursor: pointer;
font-size: 18px;
transition: all 0.3s ease;
font-weight: 500;
}
.input-box input[type="submit"]:hover{
    background-color: #d43ddb;
}
@media(max-width:1000spx){
form{
width: 100%;
margin-left: 30px;
}
}

footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 60dvh;
background-color: black;
color: white;
}
@media(max-width:1000px){
footer{
width: 100%;
margin-left: 30px;
}
}

.footer-div1{
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap: 4rem;
border-bottom: 1px solid white;
}
.headine{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
font-weight: bolder;
margin-bottom: 2rem;
}
.ul{
list-style: none;
color: white;
list-style-type: none;
}
a{
color: white;
list-style: none;
text-decoration: none;
}




